@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Noto+Sans&display=swap");
#root {
  background-color: rgb(47, 47, 47);
  width: 100vw;
  height: 100vh;
  position: fixed;
}
.king-container {
  width: 300px;
  height: 350px;
  background: rgb(33, 33, 33);
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.heading {
  margin-top: 1rem;
  width: 100%;
  height: 50px;
  color: #2d4c56;
  font-family: "Mochiy Pop One";
  background: rgb(33, 33, 33);
  font-size: 30px;
  text-align: center;
  display: inline-block;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.bottom-text {
  color: white;
  display: block;
  text-align: center;
  font-family: "noto sans";
  font-size: 1.3rem;
}
input {
  width: 60%;
  height: 30px;
  text-align: center;
  font-size: 1.3rem;
  background: rgb(62, 62, 62);
  color: white;
}
.input-box {
  display: flex;
  justify-content: center;
}
.operator {
  color: white;
  font-size: 2rem;
  display: block;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}
.cont-top {
  margin-top: 1rem;
}
input:focus {
  outline: none;
}
.conv-button {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
}
#button-1 {
  width: 80px;
  height: 40px;
  border-radius: 0.6rem;
  font: 1rem sans-serif;
  background: #2d4c56;
  color: white;
}
#button-2 {
  border-radius: 0.6rem;
  font: 1rem sans-serif;
  background: #2d4c56;
  color: white;
  width: 40px;
}

select {
  width: 40%;
  text-align: center;
  height: 30px;
  font: 1rem "noto sans";
  color: white;
  background: rgb(33, 33, 33);
  border: none;
}
select:focus {
  outline: none;
}
@media (max-width: 360px) {
  .king-container {
    margin: 100px auto;
  }
}
